<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>粤ICP备<a href="http://www.beian.miit.gov.cn">19103564</a>号</p>
  </body>
</html>
